*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#000;
overflow:hidden;
font-family:Consolas,monospace;
color:#00ff66;
}

#screen{
width:100vw;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#000;
}

#terminal{
width:92%;
height:90%;
padding:25px;
border:1px solid #00ff66;
box-shadow:
0 0 10px #00ff66,
0 0 25px #00ff66;
background:#000;
overflow:hidden;
}

#title{
font-size:22px;
margin-bottom:20px;
color:#00ff66;
letter-spacing:2px;
}

#output{
white-space:pre-wrap;
line-height:28px;
font-size:18px;
}

#cursor{
display:inline-block;
animation:blink .8s infinite;
font-size:20px;
}

@keyframes blink{

50%{
opacity:0;
}

}

.glitch{

animation:glitch .08s infinite;

}

@keyframes glitch{

0%{
transform:translateX(2px);
}

50%{
transform:translateX(-2px);
}

100%{
transform:translateX(2px);
}

}

.red{

color:#ff0033;

}

.yellow{

color:#ffd000;

}

.blue{

color:#00c8ff;

}
